.profile__username {
  grid-area: username;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #FFFFFF;
  align-self:flex-end;
}

@media (max-width: 768px) {
  .profile__username {
    text-align: center;
    font-size: 27px;
    line-height: 1.21;
  }
}