.profile__add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: 0;
  align-self: center;
  background-color: #000000;
  cursor: url(../../../images/cursor.svg) 10 2, default;
}

.profile__add-button:hover {
  opacity: .6;
}

@media (max-width: 768px) {
  .profile__add-button {
    margin-left: 0;
    margin-top: 34px;
    width: 100%;
  }
}