.profile__useroccupation {
  grid-area: useroccupation;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .profile__useroccupation {
    text-align: center;
    font-size: 14px;
    line-height: 1.21;
  }
}