.element__like-button {
  padding: 0;
  padding-right: 20px;
  border: 0;
  background-color: #ffffff;
  cursor: url(../../../images/cursor.svg) 10 2, default;
}

.element__like-button:hover {
  opacity: .5;
}