.profile__info {
  max-width: 336px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: auto;
  grid-template-areas:
    "username edit-button"
    "useroccupation .";
  gap: 8px 18px;
}

@media (max-width: 768px) {
  .profile__info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    gap: 6px;
  }
}